# Python & Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
/media/
/static/
/db.sqlite3
/venv/
/env/
*.env
*.secret

# Django Migrations
**/migrations/*
!**/migrations/__init__.py

# Node.js & React (Vite + TailwindCSS)
node_modules/
dist/
.vite/
*.log
*.lock

# TailwindCSS Cache
.tailwind/

# Vite build artifacts
*.cache
*.esm.js
*.js.map

# Editor & System Files
.vscode/
.idea/
*.DS_Store
*.swp
*.swo
*.iml

# Git
.git/
.gitignore
