@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Poppins", sans-serif;
	}
	.title {
		@apply text-5xl font-bold text-[#ffcc00] hover:text-[#8502ff] transition-all duration-300 ease-in-out;
	}
	.hireme-btn {
		@apply px-8 py-3 font-semibold bg-[#ffcc00] text-[#191a1a] rounded-md transition-all duration-300 ease-in-out hover:bg-[#ffd633] z-10;
	}
	.notification {
		@apply flex flex-col relative w-72 h-32 rounded-xl overflow-hidden bg-[#29292c] isolate;
	}

	.notification::before {
		content: "";
		@apply absolute inset-0.5 rounded-[0.9375rem] bg-[#18181b] z-20;
	}

	.notification::after {
		content: "";
		@apply absolute w-1 h-[calc(100%-1.3rem)] left-2 top-[0.65rem] bg-gradient-to-b from-[#2eadff] via-[#3d83ff] to-[#7e61ff] rounded-sm transition-transform duration-300;
	}

	.notification:hover::after {
		@apply translate-x-0.5;
	}

	.notititle,
	.notibody {
		@apply relative z-30;
	}

	.notititle {
		@apply text-[#32a6ff] font-medium text-lg pl-5 py-2.5 transition-transform duration-300;
	}

	.notification:hover .notititle {
		@apply translate-x-1;
	}

	.notibody {
		@apply text-[#99999d] px-5 transition-transform duration-300;
	}

	.notification:hover .notibody {
		@apply translate-x-1.5;
	}

	.notiglow,
	.notiborderglow {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[20rem] h-[20rem];
		background: radial-gradient(
			circle closest-side at center,
			white,
			transparent
		);
		opacity: 0;
		transition: opacity 300ms ease;
	}

	.notiglow {
		@apply z-10;
	}

	.notiborderglow {
		@apply z-0;
	}

	.notification:hover .notiglow {
		@apply opacity-10;
	}

	.notification:hover .notiborderglow {
		@apply opacity-10;
	}
}
